Appium-Python-Client == 0.52      
attrs == 19.3.0    
certifi == 2020.4.5.2
chardet == 3.0.4     
chromedriver-autoinstaller == 0.2.2     
colorama == 0.4.3     
configparser == 5.0.0     
crayons == 0.3.1
eyes-common == 4.3.0
eyes-core == 4.3.0
eyes-selenium == 4.3.0
idna == 2.9
lxml == 4.5.1
Pillow == 6.2.2
pip == 20.1.1
requests == 2.23.0
selenium == 3.141.0
setuptools == 47.1.1
six == 1.15.0
tinycss2 == 0.6.1
transitions == 0.6.9
ua-parser == 0.8.0
urllib3 == 1.25.9
webdriver-manager == 3.1.0
webencodings == 0.5.1
wheel == 0.34.2